row{
    height: 120vh;
}
.centeralign{
    margin: auto;
    width: 70%;
}
.account{
    font-size: 27px;
    margin-bottom: -3px;
}
.signupinputs{
    background-color: rgb(223, 226, 225);
}
.maincard input:focus{
    box-shadow: none;
    border: 2px solid black;
}
.white-truck {
    background-color: white;
    width: 35%;
    padding: 2%;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    padding-bottom: 1%;
    position: absolute;
    top: 20%;
    right: 80%;
}
.white-protect {
    background-color: white;
    width: 35%;
    padding: 2%;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    padding-bottom: 1%;
    position: absolute;
    top: 70%;
    left: 30%;
}

.typo{
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 140%;
text-transform: capitalize;
}
.typo span{
    font-size: 38px;
}
.white-truck p{
    font-size: small;
    font-weight: bold;
}
.white-protect p{
    font-size: small;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .white-truck {
        width: 35%;
        right: 70%;
        font-size: small;
        font-weight: 300;
    }
    .white-protect {
        width: 35%;
        right: 70%;
        font-size: small;
        font-weight: 300;
    }
    .centeralign{
        text-align: center;
    position: relative;
    top: 10%;
    }
    .form{
        margin-left: 20px;
    }
    .account{
        line-height: normal;
    }
}

@media only screen and (max-width: 500px) {
    .rightside {
        display: none;
    }
    .leftsider{
        height: 100%;
    }
}